<ion-header>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchedCountry" (ngModelChange)="filterCountry()"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list no-lines>
    <button ion-item *ngFor="let country of countryList" class="country" (click)="pushPage(country)">
      <ion-avatar item-left>
          <img src="{{country.flag}}">
      </ion-avatar>
       <h2>{{ country.name}}</h2>
    </button>
  </ion-list>
</ion-content>