<!--
  Generated template for the CountriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ countryDetail.name }} - Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
          <img src="{{countryDetail.flag}}" width="50" height="30" />
      </ion-col>
      <ion-col col-9>
          <h1>{{ countryDetail.name }}</h1>
          <p>Native Name: {{ countryDetail.nativeName||"-"}}</p>
          <p>Capital: {{ countryDetail.capital||"-" }}</p>
          <p>Region: {{ countryDetail.region||"-" }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item>
      <ion-label>Calling<br>Code:</ion-label>
      <ion-select>
        <ion-option *ngFor="let callingCode of countryDetail.callingCodes">{{ callingCode }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Languages:</ion-label>
        <ion-select>
          <ion-option *ngFor="let language of countryDetail.languages">{{ language.name }}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Time Zones:</ion-label>
        <ion-select>
          <ion-option *ngFor="let timezone of countryDetail.timezones">{{ timezone }}</ion-option>
        </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
